@model MailSync.Data.Template
@{
    ViewBag.Title = "EditTemplate";
}

<h2>EditTemplate</h2>
@section style {

    <link href="~/Content/StyleSheets/ej.theme.min.css" rel="stylesheet" />
    <link href="~/Content/StyleSheets/ej.web.all.min.css" rel="stylesheet" />

    <style>
        .CodeMirror {
            min-height: 600px;
            margin: 3px 0px !important;
            height: 249px;
        }
        .modal {
            text-align: center;
        }

            .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
            }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }

    </style>
}

@section Scripts {


    <script src="~/Scripts/js/ej1splitter.min.js"></script>

    <script src="~/Scripts/CodeMirror/lib/codemirror.js"></script>

    <script src="~/Scripts/CodeMirror/lib/overlay.js"></script>
    <link href="~/Scripts/CodeMirror/lib/codemirror.css" rel="stylesheet" />

    <link href="~/Scripts/CodeMirror/lib/docs.css" rel="stylesheet" />

    <script src="~/Scripts/CodeMirror/lib/javascript.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#releaseplansplitter").ejSplitter({
                height: 600, width: "100%",
                create: "oncreate",
                enableAutoResize: true,
                properties: [{ paneSize: "50%" }, { collapsible: true }],
            });


        });
        var code;
        function oncreate(args) {

            //var editor = CodeMirror.fromTextArea(document.getElementById("code-template"), {
            //    lineNumbers: true,
            //    height: "350px",
            //   mode: "mustache"
            //});

            code = CodeMirror.fromTextArea(document.getElementById("code-template"), {
                lineNumbers: true,
                height: "350px",
                parserfile: ["parsexml.js", "parsecss.js", "tokenizejavascript.js", "parsejavascript.js", "parsehtmlmixed.js"],
                stylesheet: ["codemirror/css/xmlcolors.css", "codemirror/css/jscolors.css", "codemirror/css/csscolors.css"],
                path: "/Scripts/CodeMirror/lib/"
            });
            //code = CodeMirror.fromTextArea(document.getElementById("code-template"),
            //    {
            //        lineNumbers: true,
            //        matchBrackets: true,
            //        mode: "htmlmixed",
            //        lint: true
            //    });
        }

        function Loadtemplate()
        {
            $(".htmlcontent").html(code.getValue());
        }
    </script>

<script type="text/javascript">

        function GetFileName() {

            var campignId = $("#campignId").val();
            var campaignName = $("#templatename").val();
            $.ajax({
                type: 'POST',
                url: "/camapign/updatetempplate/" + campignId + "/"+campaignName,
                dataType: 'json',
                error: function () {
                    swal("Error", "An error occurred while processing. Please try again later.", "error");
                },
                success: function (status) {
                    $('#addModal').modal('hide');
                    if (status.data === true) {
                        swal({

                            title: "Success",
                            text: "The " + campaignName + " has been uploaded successfully.",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonClass: "btn-default",
                            confirmButtonText: "Ok",
                            cancelButtonText: "No",
                            closeOnConfirm: true,
                            closeOnCancel: false
                        },
                            function (isConfirm) {
                                $(".sweet-alert").hide();
                                var campignTypeId = $("#campignTypeId").val();
                                window.location.href = "/campaign/wizard/" + campignTypeId;
                            });
                    } else {
                        swal("Error", "An error occurred while processing. Please try again later.", "error");
                    }
                },
                complete: function () {
                }
            });
        }

</script>
}

<input type="button" class="btn pull-right" value="Run" onclick="Loadtemplate()" style="margin-right:0px;margin:20px" />

<input type="button" class="btn pull-right" value="Save" style="margin:20px" data-toggle="modal" data-target="#addModal" />

<div id="releaseplansplitter" class=" card-panel">
    <div class="htmlcontent">@Html.Raw(@Model.TemplateContent) </div>
    <div class="rightpane">
        <textarea id="code-template">
          @Model.TemplateContent
        </textarea>
    </div>

</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel-2">Template Name</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="example-text-input" class="col-2 col-form-label">TemplateName</label>
                    <div class="" style="margin-left:50px;display:inline-block">
                        <input class="form-control" type="text" id="templatename" style="width:400px">
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dialog" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-dialog" onclick="GetFileName()">Ok</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
<input type="hidden" value="@ViewBag.CampignId" id="campignId" />
<input type="hidden" value="@ViewBag.campignTypeId" id="campignTypeId" />






